.replace-picture__container {
  @apply absolute top-0 right-0 h-screen bg-white;
  width: 520px;
}

/* .replace-picture__header {
  @apply relative;
} */

.replace-picture__title {
  @apply text-gray-600;
  margin-top: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.5px;
}

.replace-picture__btn {
  @apply absolute bottom-10 left-0 flex justify-between w-full items-center;
}

.replace-picture__btn-left {
  @apply pl-6;
}

.replace-picture__btn-right {
  @apply pr-14;
}

.replace-picture__btn-cancel {
  @apply p-4 bg-white text-primary-700 mr-4;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;

  width: 130px;
  height: 56px;
  border: 1px solid #313f80;
  box-sizing: border-box;
  /* SBS */

  box-shadow: 0px 10px 25px -25px rgba(17, 24, 39, 0.1);
  border-radius: 12px;
}

.replace-picture__btn-save {
  @apply p-4 bg-primary-700 text-white;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;

  width: 130px;
  height: 56px;
  box-shadow: 0px 10px 25px -25px rgba(17, 24, 39, 0.1);
  border-radius: 12px;
}

.replace-picture__body {
  @apply w-full h-auto;
  padding: 50px 100px;
}

.replace-picture__wrapper {
  @apply flex flex-col justify-end items-center;
  width: 320px;
  height: 240px;
  border: 0.769895px dashed #9ca3af;
  box-sizing: border-box;
  border-radius: 12px;
}

.replace-picture__img {
  width: 58px;
}

.replace-picture__h5 {
  @apply text-gray-500;
  margin-top: 26px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;
  letter-spacing: 0.005em;
}

.replace-picture__h5-btn {
  @apply text-primary-800;
  margin-top: 26px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;
  letter-spacing: 0.005em;
}

.replace-picture__h6 {
  @apply text-gray-500;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */

  text-align: center;
  letter-spacing: 0.5px;
}

.replace-picture__img-container {
  @apply relative w-full h-full;
}

.replace-picture__img-container::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full z-40;
  /* backdrop-filter: blur(4.92308px); */
  /* background: rgba(26, 32, 64, 0.5); */
}

.replace-picture__img-container::after {
  content: "";
  @apply absolute top-0 left-0 z-40 rounded-full;
  width: 172px;
  height: 172px;
  backdrop-filter: none;
}

.replace-picture__img-text {
  @apply absolute text-white z-50;
  bottom: 10px;
  left: 90px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;
  letter-spacing: 0.005em;
}

.replace-picture__picture {
  @apply w-80 h-60 cursor-pointer;
  border-radius: 12px;
}

.replace-picture__slider {
  @apply mt-4;
  width: 324px;
}

.replace-picture__slider h6 {
  @apply text-gray-600;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */

  letter-spacing: 0.5px;
}

.replace-picture__slider-container {
  @apply h-1 relative mt-5 z-10;
  /* margin-left: -8px; */
  width: 320px;
  background-color: #e5ebf0;
}

.replace-picture__slider-span-after {
  @apply relative w-full;
}

.replace-picture__slider-span-after::after {
  @apply absolute rounded-full z-0 w-2 h-2;
  content: "";
  top: -6px;
  right: 4px;
  background-color: #e5ebf0;
}

.replace-picture__slider-span-before-invisible {
  @apply relative w-full;
}

.replace-picture__slider-span-before-invisible::before {
  @apply absolute rounded-full z-0 w-2 h-2;
  content: "";
  top: -6px;
  left: -1px;
  background-color: #e5ebf0;
}

.replace-picture__slider-span-before-visible {
  @apply relative w-full;
}

.replace-picture__slider-span-before-visible::before {
  @apply absolute rounded-full z-30 w-2 h-2;
  content: "";
  top: -6px;
  left: -1px;
  background-color: #e5ebf0;
}

.replace-picture__slider-thumb {
  @apply bg-white h-6 w-6 rounded-full absolute z-50;
  top: -10px;
  border: 8px solid #313f80;
  box-sizing: border-box;
  cursor: pointer;
}

.replace-picture__slider-track {
  @apply h-1;
  background-color: #e5ebf0;
}

.replace-picture__slider-track.replace-picture__slider-track-0 {
  @apply bg-primary-700;
}
